@model List<MusicStore.Models.NewReleasesModel>

@{
    ViewBag.Title = "NewReleases";
}

<h2>New Releases</h2>


<input id="datePicker" type="date" value="@DateTime.Today.ToString("dd.MM.yyyy")"/>


<table>
    @{
        foreach (var track in Model)
        {
            <tr>
                <td height="80" width="80" align="center"><img src="@track.UrlToAlbumArt" width="70" height="70" /></td>
                <td>
                    <table>
                        <tr><td height="30" align="left">@track.ArtistName</td></tr>
                        <tr>
                            <td height="30" align="left">Album : 
                                <a href="@track.AlbumLink" target="_blank">@track.AlbumName</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    }
</table>